.oak-typography-root {
  margin: 0;
}
.oak-typography-body2 {
  font-size: var(--oak-typography-body2-font-size);
  font-weight: var(--oak-typography-body2-font-weight);
  line-height: var(--oak-typography-body2-line-height);
  letter-spacing: var(--oak-typography-body2-letter-spacing);
}
.oak-typography-body1 {
  font-size: var(--oak-typography-body1-font-size);
  font-weight: var(--oak-typography-body1-font-weight);
  line-height: var(--oak-typography-body1-line-height);
  letter-spacing: var(--oak-typography-body1-letter-spacing);
}
.oak-typography-caption {
  font-size: var(--oak-typography-caption-font-size);
  font-weight: var(--oak-typography-caption-font-weight);
  line-height: var(--oak-typography-caption-line-height);
  letter-spacing: var(--oak-typography-caption-letter-spacing);
}
.oak-typography-h1 {
  font-size: var(--oak-typography-h1-font-size);
  font-weight: var(--oak-typography-h1-font-weight);
  line-height: var(--oak-typography-h1-line-height);
  letter-spacing: var(--oak-typography-h1-letter-spacing);
}
.oak-typography-h2 {
  font-size: var(--oak-typography-h2-font-size);
  font-weight: var(--oak-typography-h2-font-weight);
  line-height: var(--oak-typography-h2-line-height);
  letter-spacing: var(--oak-typography-h2-letter-spacing);
}
.oak-typography-h3 {
  font-size: var(--oak-typography-h3-font-size);
  font-weight: var(--oak-typography-h3-font-weight);
  line-height: var(--oak-typography-h3-line-height);
  letter-spacing: var(--oak-typography-h3-letter-spacing);
}
.oak-typography-h4 {
  font-size: var(--oak-typography-h4-font-size);
  font-weight: var(--oak-typography-h4-font-weight);
  line-height: var(--oak-typography-h4-line-height);
  letter-spacing: var(--oak-typography-h4-letter-spacing);
}
.oak-typography-h5 {
  font-size: var(--oak-typography-h5-font-size);
  font-weight: var(--oak-typography-h5-font-weight);
  line-height: var(--oak-typography-h5-line-height);
  letter-spacing: var(--oak-typography-h5-letter-spacing);
}
.oak-typography-h6 {
  font-size: var(--oak-typography-h6-font-size);
  font-weight: var(--oak-typography-h6-font-weight);
  line-height: var(--oak-typography-h6-line-height);
  letter-spacing: var(--oak-typography-h6-letter-spacing);
}
.oak-typography-subtitle1 {
  font-size: var(--oak-typography-subtitle1-font-size);
  font-weight: var(--oak-typography-subtitle1-font-weight);
  line-height: var(--oak-typography-subtitle1-line-height);
  letter-spacing: var(--oak-typography-subtitle1-letter-spacing);
}
.oak-typography-subtitle2 {
  font-size: var(--oak-typography-subtitle2-font-size);
  font-weight: var(--oak-typography-subtitle2-font-weight);
  line-height: var(--oak-typography-subtitle2-line-height);
  letter-spacing: var(--oak-typography-subtitle2-letter-spacing);
}
.oak-typography-overline {
  font-size: var(--oak-typography-overline-font-size);
  font-weight: var(--oak-typography-overline-font-weight);
  line-height: var(--oak-typography-overline-line-height);
  letter-spacing: var(--oak-typography-overline-letter-spacing);
  text-transform: uppercase;
}
.oak-typography-highlight-primary {
  background-color: var(--color-primary);
}
.oak-typography-highlight-secondary {
  background-color: var(--color-secondary);
}
.oak-typography-highlight-tertiary {
  background-color: var(--color-tertiary);
}
.oak-typography-highlight-default {
  background-color: var(--color-default);
}
.oak-typography-highlight-info {
  background-color: var(--color-info);
}
.oak-typography-highlight-invert {
  background-color: var(--color-invert);
}
.oak-typography-highlight-danger {
  background-color: var(--color-danger);
}
.oak-typography-highlight-warning {
  background-color: var(--color-warning);
}
.oak-typography-highlight-success {
  background-color: var(--color-success);
}

.oak-typography-align-left {
  text-align: left;
}
.oak-typography-align-center {
  text-align: center;
}
.oak-typography-align-right {
  text-align: right;
}
.oak-typography-align-justify {
  text-align: justify;
}
.oak-typography-noWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.oak-typography-paragraph {
  margin-bottom: var(--oak-typography-paragraph-margin-bottom);
}

.oak-typography-display-inherit {
  display: inherit;
}
.oak-typography-display-initial {
  display: initial;
}
.oak-typography-display-inline {
  display: inline;
}
.oak-typography-display-block {
  display: block;
}
.oak-typography-display-inline-block {
  display: inline-block;
}
.oak-typography-display-inline-flex {
  display: inline-flex;
}
